@media screen and (max-width: 768px) {
	section.hero {
		flex-direction: column;
	}
	section.hero .left {
		display: none;
	}
	section.hero .right {
		width: 100%;
		padding: 20px;
	}
	.zcwf_lblLeft .zcwf_col_fld {
		width: 100%;
	}

	section.reviews .container {
		flex-direction: column;
	}

	ul.nav-items {
		flex-direction: column;
		height: 100vh;
		width: 100%;
		justify-content: space-around;
		position: absolute;
		background: black;
		right: -100%;
		top: 0;
		z-index: 1;
	}
	ul.nav-items.open {
		right: 0;
	}
	.nav-item a {
		color: white;
		font-weight: bold;
	}
	.mobile-icon {
		display: block !important;
		position: absolute;
		top: 0;
		right: 0;
		padding: 20px;
		z-index: 2;
	}
	svg rect.open {
		fill: white;
	}
}
