@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Raleway&display=swap");
@import url("variables.css");
@import url("utilities.css");
@import url("zohoform.css");
@import url("animations.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--primaryColor);
  font-family: "Raleway", sans-serif;
}

h1 {
  font-family: "Cardo", serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header .logo h1 {
  font-size: clamp(20px, 2vw, 30px);
}

header nav {
  width: clamp(300px, 30vw, 50%);
}

header nav ul.nav-items {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

header nav ul.nav-items li .nav-item a {
  font-weight: 600;
}

header nav .mobile-icon {
  display: none;
  cursor: pointer;
  pointer-events: all;
}

header nav .mobile-icon.open svg rect {
  fill: white;
}

section.hero {
  height: 100vh;
}

section.hero .left {
  height: 100%;
  width: 46%;
  background-image: url(../../assets/img/james-whiteboard2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
}

section.hero .left::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: white;
  opacity: 0.6;
}

section.hero .right {
  width: 50%;
  padding-left: 4%;
}

section.hero .right h2 {
  font-size: clamp(40px, 4vw, 60px);
}

section.hero .right h2 span {
  display: block;
  font-size: 28px;
  margin-top: 32px;
  font-weight: 100;
}

section.featured .img-fluid {
  max-height: 50px;
  max-width: 17%;
  margin: 20px;
}

section.reviews .container {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  min-height: 50vh;
  max-width: 1200px;
}

section.reviews .container .profile img {
  max-width: 200px;
}

section.reviews .container .text p {
  font-size: 1.25rem;
}

section.reviews .container .review {
  -webkit-transition: opacity 0.5s ease-in;
  transition: opacity 0.5s ease-in;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

section.reviews .container .review:not(:first-child) {
  opacity: 0;
}

section.services .services-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: 1px solid #ccc;
}

section.services .services-wrapper .service {
  border: 1px solid #ccc;
  width: 25%;
  padding: 100px 0;
  position: relative;
}

section.services .services-wrapper .service.hover p {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

section.services .services-wrapper .service p {
  font-weight: bold;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

section.services .services-wrapper .service:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

section.services .services-wrapper .service:hover p {
  color: white;
}

section.services .services-wrapper .service::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--accentColor);
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: opacity 1.5s ease, -webkit-transform 1s ease;
  transition: opacity 1.5s ease, -webkit-transform 1s ease;
  transition: transform 1s ease, opacity 1.5s ease;
  transition: transform 1s ease, opacity 1.5s ease, -webkit-transform 1s ease;
}

section.contact {
  padding: 30px;
  background: #dcdcdc;
  position: relative;
  margin-top: 30px;
}

section.contact::before {
  content: "";
  width: 120%;
  height: 200px;
  background: #dcdcdc;
  position: absolute;
  top: -40px;
  left: -10%;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
}

section.contact .form-wrapper {
  max-width: 900px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

section.contact .form-wrapper .hbspt-form .hs-form-iframe {
  width: 100% !important;
}
/*# sourceMappingURL=style.css.map */