html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

.hide {
	visibility: hidden;
	pointer-events: none;
}
.d-none {
	display: none;
}

/*** TEXT ***/
h3 {
	font-size: 2rem;
	position: relative;
}

.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-justify {
	text-align: justify;
}

/** COLORS **/
.bg-drk {
	background: var(--primaryColor);
}
.bg-accent {
	background: var(--accentColor);
}

.white {
	color: white;
}
/** SIZES **/

.w100 {
	width: 100% !important;
}
.container {
	max-width: 1440px;
	margin: 0 auto;
}

.p1 {
	padding: 1rem;
}

.p2 {
	padding: 1.5rem;
}

.p3 {
	padding: 2rem;
}
.p4 {
	padding: 4rem;
}

.px1 {
	padding: 1rem 0;
}

.px2 {
	padding: 1.5rem 0;
}

.px3 {
	padding: 2rem 0;
}
.px4 {
	padding: 4rem 0;
}

.py1 {
	padding: 1rem 0;
}

.py2 {
	padding: 1.5rem 0;
}

.py3 {
	padding: 2rem 0;
}

.m1 {
	margin: 1rem;
}

.m2 {
	margin: 1.5rem;
}

.m3 {
	margin: 2rem;
}
.m4 {
	margin: 4rem;
}

.mx1 {
	margin: 1rem 0;
}

.mx2 {
	margin: 1.5rem 0;
}

.mx3 {
	margin: 2rem 0;
}

.my1 {
	margin: 1rem 0;
}

.my2 {
	margin: 1.5rem 0;
}

.my3 {
	margin: 2rem 0;
}
.mb1 {
	margin-bottom: 1rem;
}

.mb2 {
	margin-bottom: 1.5rem;
}

.mb3 {
	margin-bottom: 2rem;
}
.mt1 {
	margin-top: 1rem;
}

.mt2 {
	margin-top: 1.5rem;
}

.mt3 {
	margin-top: 2rem;
}

.bold {
	font-weight: bold;
}

/*** FLEXBOX ***/

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.fdc {
	flex-direction: column;
}

.jcsb {
	justify-content: space-between;
}

.jcsa {
	justify-content: space-around;
}
.jcfs {
	justify-content: flex-start;
}
.jcfe {
	justify-content: flex-end;
}
.aisb {
	align-items: space-between;
}

.aisa {
	align-items: space-around;
}
